table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
	top: 16px !important;
	right: -5px !important;
}

.form-group small {
	line-height: 15px !important;
	margin-top: 6px;
	display: block;
}

.form-group small.error {
	color: #ffa0a0;
}

.form-group small {
	color: #777878;
}

.table-responsive .dataTable {
	margin-top: -19px !important;
}

.table-responsive .dataTable thead tr th {
	padding: 15px;
}

.table-responsive .dataTable > thead > tr > th:first-child:after {
	display: none !important;
}

.table>thead>tr>th {
	border-bottom: 1px solid #f2f2f2 !important;
}

.form-group .control-label {
	font-weight: normal !important;
}

.form-group textarea {
	min-width: 100%;
	max-width: 100%;
}