.sidebar {
  background-color: #ecf0f0;
}

.sidebar .app-name {
  background-color: #2c3b4b;
  color: #A4B2B8;
}

.sidebar .app-name span,.sidebar .app-name .alt {
  color: #26B89A;
}

.sidebar .sidebar-menu li a {
  color: #5b636c;
}

.sidebar .sidebar-menu li.divider {
  color: rgba(53, 72, 91, 0.2);
  background-color: #e3e9e9;
}

.sidebar .sidebar-menu .dropdown-sidebar li a {
  font-weight: normal;
  color: rgba(106,111,117,.5);
  -webkit-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}

.sidebar .sidebar-menu .dropdown-sidebar li a .icon i {
  color: rgba(106,111,117,.25);
}

.sidebar .sidebar-menu .dropdown-sidebar li > a:hover,.sidebar .sidebar-menu .dropdown-sidebar li.collapsed {
  color: rgba(106,111,117,.5) !important;
}

.sidebar .sidebar-menu .dropdown-sidebar li > a:hover .icon i,.sidebar .sidebar-menu .dropdown-sidebar li.collapsed .icon i {
  color: #b8c7ce;
}

.sidebar .sidebar-menu > li.active > a,.sidebar .sidebar-menu > li.collapsed > a {
  color: #6A6F75 !important;
}

.sidebar #mCSB_1_container > .sidebar-menu > li > a > .icon i {
  color: rgba(69, 75, 83, 0.2);
}

.sidebar #mCSB_1_container > .sidebar-menu > li.collapsed > a > .icon i,.sidebar #mCSB_1_container > .sidebar-menu > li.active > a > .icon i {
  color: rgba(69, 75, 83, 0.8);
}

.sidebar #mCSB_1_container > .sidebar-menu > .dropdown-sidebar > .sidebar-menu {
  background-color: rgb(249,249,249);
}

.sidebar #mCSB_1_container > .sidebar-menu > li:hover > a {
  background-color: #dee5e5;
}

.sidebar #mCSB_1_container > .sidebar-menu > li.active > a,.sidebar #mCSB_1_container > .sidebar-menu > li.collapsed > a {
  color: rgba(69, 75, 83, 0.8) !important;
}

.sidebar #mCSB_1_container > .sidebar-menu > .collapsed > a,.sidebar #mCSB_1_container > .sidebar-menu > .active > a {
  background: #fff !important;
}
