@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), url('../fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro Regular'), url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), url('../fonts/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), url('../fonts/SourceSansPro-Bold.ttf');
}

