* {
  font-family: Source Sans Pro;
}

html,body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  background: #fff;
  color: #555;
}

a:hover,a:focus {
  text-decoration: none;
}

.badge-primary {
  background-color: #2196f3;
}

.badge-success {
  background-color: #00c853;
}

.badge-info {
  background-color: #40c4ff;
}

.badge-warning {
  background-color: #ffb300;
}

.badge-danger {
  background-color: #ef5350;
}

input:focus,button:focus {
  outline: none;
}

p:last-child {
  margin-bottom: 0;
}

.check-device {
  width: 1px;
  display: none;
}

.content {
  margin-bottom: 20px;
}

.btn {
  border-radius: 3px;
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-default {
  border: 1px solid #ddd;
  background: #fff;
}

.btn-primary {
  background: #2196f3;
}

.btn-info {
  background: #40c4ff;
}

.btn-success {
  background: #00c853;
}

.btn-warning {
  background: #ffb300;
}

.btn-danger {
  background: #ef5350;
}

.label-primary {
  background: #2196f3;
}

.label-info {
  background: #40c4ff;
}

.label-success {
  background: #00c853;
}

.label-warning {
  background: #ffb300;
}

.label-danger {
  background: #ef5350;
}

.panel {
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.panel-heading {
  padding: 18px 20px;
}

.panel-body {
  padding: 18px 20px;
}

.panel-default > .panel-heading {
  background: #fff;
  font-weight: 700;
  color: #555;
  border-color: #e9e9e9;
}

.table > tbody > tr > td,.table > tbody > tr > th,.table > tfoot > tr > td,.table > tfoot > tr > th,.table > thead > tr > td,.table > thead > tr > th {
  padding: 20px;
}

.table.table-no-striped > tbody > tr > td,.table.table-no-striped > tbody > tr > th,.table.table-no-striped > tfoot > tr > td,.table.table-no-striped > tfoot > tr > th,.table.table-no-striped > thead > tr > td,.table.table-no-striped > thead > tr > th {
  border: 0;
}

.table > thead.thead-gray > tr > th {
  background: #f2f2f2;
  border: 0;
}

.table > tbody > tr.primary > td,.table > tbody > tr.primary > th,.table > tbody > tr > td.primary,.table > tbody > tr > th.primary,.table > tfoot > tr.primary > td,.table > tfoot > tr.primary > th,.table > tfoot > tr > td.primary,.table > tfoot > tr > th.primary,.table > thead > tr.primary > td,.table > thead > tr.primary > th,.table > thead > tr > td.primary,.table > thead > tr > th.primary {
  background: #ddedfa;
}

.table > tbody > tr.success > td,.table > tbody > tr.success > th,.table > tbody > tr > td.success,.table > tbody > tr > th.success,.table > tfoot > tr.success > td,.table > tfoot > tr.success > th,.table > tfoot > tr > td.success,.table > tfoot > tr > th.success,.table > thead > tr.success > td,.table > thead > tr.success > th,.table > thead > tr > td.success,.table > thead > tr > th.success {
  background: #c6fedd;
}

.table > tbody > tr.warning > td,.table > tbody > tr.warning > th,.table > tbody > tr > td.warning,.table > tbody > tr > th.warning,.table > tfoot > tr.warning > td,.table > tfoot > tr.warning > th,.table > tfoot > tr > td.warning,.table > tfoot > tr > th.warning,.table > thead > tr.warning > td,.table > thead > tr.warning > th,.table > thead > tr > td.warning,.table > thead > tr > th.warning {
  background: #fbe4af;
}

.table > tbody > tr.danger > td,.table > tbody > tr.danger > th,.table > tbody > tr > td.danger,.table > tbody > tr > th.danger,.table > tfoot > tr.danger > td,.table > tfoot > tr.danger > th,.table > tfoot > tr > td.danger,.table > tfoot > tr > th.danger,.table > thead > tr.danger > td,.table > thead > tr.danger > th,.table > thead > tr > td.danger,.table > thead > tr > th.danger {
  background: #fed8d7;
}

.table > tbody > tr.solid-primary > td,.table > tbody > tr.solid-primary > th,.table > tbody > tr > td.solid-primary,.table > tbody > tr > th.solid-primary,.table > tfoot > tr.solid-primary > td,.table > tfoot > tr.solid-primary > th,.table > tfoot > tr > td.solid-primary,.table > tfoot > tr > th.solid-primary,.table > thead > tr.solid-primary > td,.table > thead > tr.solid-primary > th,.table > thead > tr > td.solid-primary,.table > thead > tr > th.solid-primary {
  background: #2196f3;
  color: #fff;
}

.table > tbody > tr.solid-success > td,.table > tbody > tr.solid-success > th,.table > tbody > tr > td.solid-success,.table > tbody > tr > th.solid-success,.table > tfoot > tr.solid-success > td,.table > tfoot > tr.solid-success > th,.table > tfoot > tr > td.solid-success,.table > tfoot > tr > th.solid-success,.table > thead > tr.solid-success > td,.table > thead > tr.solid-success > th,.table > thead > tr > td.solid-success,.table > thead > tr > th.solid-success {
  background: #00c853;
  color: #fff;
}

.table > tbody > tr.solid-warning > td,.table > tbody > tr.solid-warning > th,.table > tbody > tr > td.solid-warning,.table > tbody > tr > th.solid-warning,.table > tfoot > tr.solid-warning > td,.table > tfoot > tr.solid-warning > th,.table > tfoot > tr > td.solid-warning,.table > tfoot > tr > th.solid-warning,.table > thead > tr.solid-warning > td,.table > thead > tr.solid-warning > th,.table > thead > tr > td.solid-warning,.table > thead > tr > th.solid-warning {
  background: #ffb300;
  color: #fff;
}

.table > tbody > tr.solid-danger > td,.table > tbody > tr.solid-danger > th,.table > tbody > tr > td.solid-danger,.table > tbody > tr > th.solid-danger,.table > tfoot > tr.solid-danger > td,.table > tfoot > tr.solid-danger > th,.table > tfoot > tr > td.solid-danger,.table > tfoot > tr > th.solid-danger,.table > thead > tr.solid-danger > td,.table > thead > tr.solid-danger > th,.table > thead > tr > td.solid-danger,.table > thead > tr > th.solid-danger {
  background: #ef5350;
  color: #fff;
}

.body-progress > .title-progress {
  display: inline-block;
  margin-bottom: 10px;
}

.progress {
  display: block;
  background: #e9e9e9;
  height: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  background: #2196f3;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
}

.progress-bar.progress-bar-info {
  background: #40c4ff;
}

.progress-bar.progress-bar-success {
  background: #00c853;
}

.progress-bar.progress-bar-warning {
  background: #ffb300;
}

.progress-bar.progress-bar-danger {
  background: #ef5350;
}

.alert {
  padding: 20px;
  border-radius: 3px;
}

.alert.alert-info {
  background: #ddedfa;
  color: #26608f;
  border-color: #bfe5fd;
}

.alert.alert-success {
  background: #c6fedd;
  color: #269453;
  border-color: #97f5be;
}

.alert.alert-warning {
  background: #fbe4af;
  color: #b48923;
  border-color: #fedd90;
}

.alert.alert-danger {
  background: #fed8d7;
  color: #c23431;
  border-color: #ffbcbb;
}

.avatar {
  overflow: hidden;
}

.avatar.avatar-sm {
  width: 45px;
  height: 45px;
}

.avatar.avatar-sm > img {
  width: 45px;
  height: 45px;
}

.avatar.avatar-rounded {
  border-radius: 50%;
}

.online-status {
  width: 13px;
  height: 13px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
}

.online-status.green {
  background: #00c853;
}

.online-status.yellow {
  background: #ffb300;
}

.online-status.red {
  background: #ef5350;
}

.form-control {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
}

.panel-counter {
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

.panel-counter.primary {
  background: #2196f3;
  color: #fff;
}

.panel-counter.success {
  background: #00c853;
  color: #fff;
}

.panel-counter.warning {
  background: #ffb300;
  color: #fff;
}

.panel-counter.danger {
  background: #ef5350;
  color: #fff;
}

.panel-counter > .icon-panel {
  width: 95px;
  height: 95px;
  text-align: center;
  float: left;
  margin-left: -48px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 3.42857em;
  opacity: .35;
}

.panel-counter > .icon-panel > .fa {
  margin-top: 15px;
  vertical-align: middle;
}

.panel-counter > .count-element {
  display: block;
  overflow: hidden;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

.panel-counter > .count-element > .count-number h3 {
  margin-top: 0px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.widget-user-1 {
  padding: 30px 0;
}

.widget-user-1 > figure {
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
  margin-bottom: 28px;
  border: 5px solid #e9e9e9;
  border-radius: 50%;
  overflow: hidden;
}

.widget-user-1 > figure > img {
  width: 123px;
  height: 123px;
}

.widget-user-1 > hgroup {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.widget-user-1 > hgroup > h4 {
  margin: auto;
  font-weight: 600;
}

.widget-user-1 > hgroup > h5 {
  color: #999;
  margin-top: 8px;
  margin-bottom: 0;
}

.widget-user-1 > .counter-block {
  width: 100%;
  margin-top: 8px;
  display: table;
}

.widget-user-1 > .counter-block > hgroup {
  width: 33%;
  display: table-cell;
  text-align: center;
}

.widget-user-1 > .counter-block > hgroup > h3 {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 600;
}

.widget-user-1 > .counter-block > hgroup > h5 {
  color: #999;
  margin-top: 8px;
  margin-bottom: 0;
}

.widget-user-1 > .counter-block > hgroup:nth-child(2) {
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.list-new-user {
  display: block;
}

.list-new-user > .new-user {
  display: block;
  padding: 10px 0;
  overflow-y: auto;
  position: relative;
}

.list-new-user > .new-user:first-child {
  padding-top: 0;
}

.list-new-user > .new-user:last-child {
  padding-bottom: 0;
}

.list-new-user > .new-user > .online-status {
  position: absolute;
  top: 42px;
  left: 32px;
}

.list-new-user > .new-user > .name-user {
  display: block;
  font-weight: 600;
}

.list-new-user > .new-user > .status-user {
  display: block;
  color: #999;
}

.list-new-user > .new-user > .btn {
  width: 80px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0;
}

.list-new-user > .new-user:first-child > .btn {
  top: 6px;
}

.list-new-user > .new-user:first-child > .online-status {
  top: 32px;
  left: 32px;
}

.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td.active:hover {
  background: #2196f3;
}

.reminder-calendar .bootstrap-datetimepicker-widget table td {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.reminder-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

.reminder {
  max-height: 210px;
  overflow-y: hidden;
}

.reminder .mCSB_inside > .mCSB_container {
  margin-right: 20px;
}

.reminder .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #ccc;
}

.reminder .mCSB_scrollTools .mCSB_draggerRail {
  background: rgba(0, 0, 0, 0.1);
}

.online-people > .list-online-people {
  position: relative;
  padding: 10px 0;
  overflow-y: auto;
}

.online-people > .list-online-people:first-child {
  padding-top: 0;
}

.online-people > .list-online-people:last-child {
  padding-bottom: 0;
}

.online-people > .list-online-people > .online-status {
  position: absolute;
  top: 42px;
  left: 32px;
}

.online-people > .list-online-people > .name-user {
  display: block;
  font-weight: 600;
}

.online-people > .list-online-people > .status-user {
  display: block;
  color: #999;
}

.online-people > .list-online-people:first-child > .online-status {
  top: 32px;
  left: 32px;
}

.mt-sm {
  margin-top: 15px;
}

.mt-md {
  margin-top: 20px;
}

.mt-lg {
  margin-top: 30px;
}

.mt-xl {
  margin-top: 50px;
}

.ml-sm {
  margin-left: 15px;
}

.ml-md {
  margin-left: 20px;
}

.ml-lg {
  margin-left: 30px;
}

.ml-xl {
  margin-left: 50px;
}

.mb-sm {
  margin-bottom: 15px;
}

.mb-md {
  margin-bottom: 20px;
}

.mb-lg {
  margin-bottom: 30px;
}

.mb-xl {
  margin-bottom: 50px;
}

.mr-sm {
  margin-right: 15px;
}

.mr-md {
  margin-right: 20px;
}

.mr-lg {
  margin-right: 30px;
}

.mr-xl {
  margin-right: 50px;
}

.pt-sm {
  padding-top: 15px;
}

.pt-md {
  padding-top: 20px;
}

.pt-lg {
  padding-top: 30px;
}

.pt-xl {
  padding-top: 50px;
}

.pl-sm {
  padding-left: 15px;
}

.pl-md {
  padding-left: 20px;
}

.pl-lg {
  padding-left: 30px;
}

.pl-xl {
  padding-left: 50px;
}

.pb-sm {
  padding-bottom: 15px;
}

.pb-md {
  padding-bottom: 20px;
}

.pb-lg {
  padding-bottom: 30px;
}

.pb-xl {
  padding-bottom: 50px;
}

.pr-sm {
  padding-right: 15px;
}

.pr-md {
  padding-right: 20px;
}

.pr-lg {
  padding-right: 30px;
}

.pr-xl {
  padding-right: 50px;
}

.wrapper {
  padding-left: 250px;
  padding-top: 50px;
}

.wrapper > .body-wrapper {
  position: relative;
  height: 100%;
}

.wrapper > .container-fluid {
  padding: 15px 20px;
  height: 100%;
  position: relative;
}

.insert-second-sidebar .container-fluid {
  padding-left: 240px;
}

.wrapper .submenu-on-top {
  height: 50px;
  border-bottom: 1px solid #e3e9e9;
}

.wrapper .submenu-on-top ul {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

.wrapper .submenu-on-top ul li {
  display: inline-block;
  margin-top: 15px;
  margin-right: -4px;
}

.wrapper .submenu-on-top ul li a {
  padding: 16px 20px;
  border-right: 1px solid #e3e9e9;
  border-left: 1px solid #e3e9e9;
  color: rgba(69, 75, 83, 0.8);
}

.wrapper .submenu-on-top ul li:hover a,.wrapper .submenu-on-top ul li.active a {
  background-color: rgba(227, 233, 233, 0.5);
}

header {
  width: 100%;
  background: #35485B;
  color: #555;
  padding-left: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

header > .body-header {
  position: relative;
  width: 100%;
}

header > .body-header > .sidebar-action {
  display: inline-block;
  padding: 15px 21px;
  color: #A4B2B8;
}

header > .body-header > .sidebar-action:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #35485B;
}

header > .body-header > .user-header {
  display: inline-block;
  position: relative;
  bottom: 0px;
  padding-right: 63px;
  padding-top: 7px;
  padding-left: 15px;
  text-align: right;
  cursor: pointer;
}

header > .body-header > .user-header .photo {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}

header > .body-header > .user-header > .user-text {
  vertical-align: middle;
  display: inline-block;
}

header > .body-header > .user-header > .user-text > span {
  display: block;
  line-height: 18px;
}

header > .body-header > .user-header > .user-text > .title-user {
  text-transform: capitalize;
  color: #A4B2B8;
}

header > .body-header > .user-header > .user-text > .subtitle-user {
  font-size: 0.92857em;
  color: #6c818a;
}

header > .body-header > .user-header .user-tool {
  position: absolute;
  background-color: #fff;
  top: 50px;
  right: -1px;
  width: 200px;
  border: 1px solid #e9e9e9;
  padding: 5px;
  display: none;
}

header > .body-header > .user-header .user-tool ul {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

header > .body-header > .user-header .user-tool ul li a {
  color: #555;
  margin-top: 2px;
  border-radius: 2px;
  padding: 7px 58px 7px 7px;
  width: 100%;
  display: block;
  position: relative;
}

header > .body-header > .user-header .user-tool ul li a:hover {
  background-color: rgba(233, 233, 233, 0.5);
}

header > .body-header > .user-header .user-tool ul li a > i {
  display: inline-block;
  width: 25px !important;
  text-align: center;
  position: absolute;
  right: 10px;
}

header > .body-header > .right-sidebar-action {
  display: inline-block;
  padding: 15px 21px;
 /*border-left: 1px solid #e9e9e9;*/
  color: #A4B2B8;
}

header > .body-header > .right-sidebar-action:hover {
  cursor: pointer;
  background: #f1f1f1;
}

html.dark-header header {
  background: #263238;
}

html.dark-header header > .body-header > .sidebar-action {
  background: #303e45;
  border-left: 1px solid #263238;
  color: #cfd8dc;
}

html.dark-header header > .body-header > .user-header {
  color: #fff;
}

html.dark-header header > .body-header > .user-header > .user-text > .subtitle-user {
  color: #cfd8dc;
}

html.dark-header header > .body-header > .right-sidebar-action {
  color: #cfd8dc;
  border-left: 1px solid #303e45;
}

html.dark-header header > .body-header > .right-sidebar-action:hover {
  background: #303e45;
  color: #fff;
}

.right-sidebar {
  width: 270px;
  height: 100%;
  background: #fff;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  right: -277px;
  z-index: 99;
  -webkit-transition: ease 0.5s right;
  -o-transition: ease 0.5s right;
  transition: ease 0.5s right;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}

.right-sidebar .body-right-sidebar {
  padding: 82px 20px 20px 20px;
}

.right-sidebar .body-right-sidebar > .user {
  margin-bottom: 15px;
}

.right-sidebar .body-right-sidebar > .user span,.right-sidebar .body-right-sidebar > .user a {
  display: block;
}

.right-sidebar .body-right-sidebar > .user a {
  position: relative;
  padding: 5px 15px 5px 65px;
  color: #999;
}

.right-sidebar .body-right-sidebar > .user a:hover {
  color: #555;
}

.right-sidebar .body-right-sidebar > .user a i {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  text-align: center;
  left: 5px;
  border-radius: 50%;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  vertical-align: middle;
  color: #888;
}

.right-sidebar .body-right-sidebar > .user a i:before {
  vertical-align: middle;
}

.right-sidebar .body-right-sidebar > .user .user-wrapper {
  margin-bottom: 5px;
  position: relative;
  padding-left: 65px;
}

.right-sidebar .body-right-sidebar > .user .user-wrapper .user-photo {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 45px;
  height: 45px;
}

.right-sidebar .body-right-sidebar > .user .user-wrapper .user-photo img {
  width: 100%;
  border-radius: 50%;
}

.right-sidebar .body-right-sidebar > .user .user-wrapper .user-name {
  text-transform: uppercase;
  font-weight: bold;
}

.right-sidebar .body-right-sidebar > .user .user-wrapper .user-level {
  text-transform: capitalize;
}

.right-sidebar .body-right-sidebar > .right-sidebar-heading {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.right-sidebar .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.right-sidebar .mCSB_scrollTools {
  width: 5px;
}

.right-sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 0;
}

.right-sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #2196f3;
}

.right-sidebar .mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  margin: 0;
  background: #e9e9e9;
}

.sidebar-timeline {
  display: block;
  padding-left: 5px;
}

.sidebar-timeline > .list-timeline {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-bottom: 20px;
}

.sidebar-timeline > .list-timeline:before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -5px;
}

.sidebar-timeline > .list-timeline:first-child {
  padding-top: 5px;
}

.sidebar-timeline > .list-timeline:last-child {
  padding-bottom: 0;
}

.sidebar-timeline > .list-timeline > .datetime-timeline {
  display: block;
  color: #999;
  position: relative;
  top: -4px;
}

.sidebar-timeline > .list-timeline.default {
  border-left: 1px solid #ccc;
}

.sidebar-timeline > .list-timeline.default:before {
  background: #ccc;
}

.sidebar-timeline > .list-timeline.primary {
  border-left: 1px solid #2196f3;
}

.sidebar-timeline > .list-timeline.primary:before {
  background: #2196f3;
}

.sidebar-timeline > .list-timeline.info {
  border-left: 1px solid #40c4ff;
}

.sidebar-timeline > .list-timeline.info:before {
  background: #40c4ff;
}

.sidebar-timeline > .list-timeline.warning {
  border-left: 1px solid #ffb300;
}

.sidebar-timeline > .list-timeline.warning:before {
  background: #ffb300;
}

.sidebar-timeline > .list-timeline.warning {
  border-left: 1px solid #ffb300;
}

.sidebar-timeline > .list-timeline.warning:before {
  background: #ffb300;
}

.sidebar-timeline > .list-timeline.danger {
  border-left: 1px solid #ef5350;
}

.sidebar-timeline > .list-timeline.danger:before {
  background: #ef5350;
}

.sidebar-timeline > .list-timeline.danger {
  border-left: 1px solid #ef5350;
}

.sidebar-timeline > .list-timeline.danger:before {
  background: #ef5350;
}

.right-sidebar.active {
  right: 0;
}

nav .badge {
  font-size: 10px;
  font-weight: normal;
}

nav.navigation {
  display: inline-block;
}

nav.navigation.pull-left {
  margin-left: 1px;
}

nav.navigation .btn-nav-mobile {
  display: none;
}

nav.navigation.pull-left > ul > li.drop-down > ul,nav.navigation.pull-left > ul > li.notification > ul,nav.navigation.pull-left > ul > li.search-header > ul {
  left: 0;
}

nav.navigation.pull-right > ul > li.drop-down > ul,nav.navigation.pull-right > ul > li.notification > ul,nav.navigation.pull-right > ul > li.search-header > ul {
  right: 0;
}

nav > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

nav > ul.notification-wrapper {
  display: inline-block !important;
  margin-top: 0px !important;
}

nav > ul > li {
  display: inline-block;
  margin-right: -2px;
}

nav > ul > li > a {
  display: block;
  padding: 15px;
  color: #A4B2B8;
}

nav > ul > li > a:hover,nav > ul > li > a.active {
  background: #f1f1f1;
}

nav > ul > li.drop-down > a:after,nav > ul > li.megamenu > a:after {
  content: "\f107";
  font-family: fontAwesome;
  margin-left: 10px;
  margin-right: 3px;
}

nav > ul > li.drop-down > a:focus,nav > ul > li.megamenu > a:focus,nav > ul > li.search-header > a:focus {
  color: #A4B2B8;
}

nav > ul > li.drop-down > a:hover,nav > ul > li.megamenu > a:hover,nav > ul > li.search-header > a:hover {
  color: rgba(85, 85, 85, 0.8);
}

nav > ul > li.drop-down > a.active,nav > ul > li.megamenu > a.active,nav > ul > li.search-header > a.active {
  color: rgba(85, 85, 85, 0.8) !important;
}

nav > ul > li.drop-down {
  position: relative;
}

nav > ul > li.drop-down > ul {
  background: #fff;
  list-style: none;
  padding-left: 0;
  min-width: 200px;
  padding: 10px 0;
  border-radius: 0 0 3px 3px;
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

nav > ul > li.drop-down > ul > li {
  display: block;
}

nav > ul > li.drop-down > ul > li > .divider {
  width: 100%;
  height: 1px;
  display: block;
  margin: 10px 0;
  background: #f1f1f1;
}

nav > ul > li.drop-down > ul > li > a {
  display: block;
  padding: 12px 15px;
  color: rgba(85, 85, 85, 0.8);
}

nav > ul > li.drop-down > ul > li > a:hover {
  background: #f1f1f1;
}

nav > ul > li.drop-down > ul > li > a > .label {
  margin-top: 3px;
}

nav > ul > li.drop-down.collapsed > ul {
  display: block;
}

nav > ul > li.megamenu > ul {
  width: 100%;
  list-style: none;
  padding: 15px;
  background: #fff;
  border-radius: 0 0 3px 3px;
  display: none;
  position: absolute;
  left: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

nav > ul > li.megamenu.collapsed > ul {
  display: block;
}

nav > ul > li.search-header {
  position: relative;
}

nav > ul > li.search-header > a {
  min-width: 50px;
  text-align: center;
}

nav > ul > li.search-header > ul {
  list-style: none;
  background: #fff;
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

nav > ul > li.search-header > ul > li > form {
  position: relative;
}

nav > ul > li.search-header > ul > li > form > input {
  width: 300px;
  padding: 6px 35px 6px 12px;
}

nav > ul > li.search-header > ul > li > form:after {
  content: "\f002";
  font-family: fontAwesome;
  color: #A4B2B8;
  position: absolute;
  top: 8px;
  right: 13px;
}

nav > ul > li.search-header.collapsed > ul {
  display: block;
}

nav > ul > li.notification {
  position: relative;
  margin-left: -1px;
}

nav > ul > li.notification > a {
  position: relative;
  min-width: 50px;
  text-align: center;
}

nav > ul > li.notification > a > .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .8;
  padding: 3px 6px;
}

nav > ul > li.notification > ul {
  width: 330px;
  list-style: none;
  padding: 15px;
  background: #fff;
  border-radius: 0 0 3px 3px;
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

nav > ul > li.notification.collapsed > ul {
  display: block;
}

.dark-header .navigation > ul > li > a {
  color: #A4B2B8;
}

.dark-header .navigation > ul > li > a:hover,.dark-header .navigation > ul > li > a.active {
  background: #303e45;
  color: #fff;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 9999;
}

.sidebar .app-name {
  padding: 11px 15px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.sidebar .app-name .title {
  font-size: 20px;
}

.sidebar .app-name .alt {
  display: none;
  font-size: 20px;
}

.sidebar .logo {
  font-size: 16px;
}

.sidebar .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.sidebar .mCSB_scrollTools {
  width: 5px;
}

.sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 0;
}

.sidebar .sidebar-menu {
  display: block;
  padding-left: 0;
  list-style: none;
  overflow-x: hidden;
}

.sidebar .sidebar-menu li {
  display: block;
  position: relative;
}

.sidebar .sidebar-menu li a {
  display: block;
  padding: 15px 15px 15px 16px;
  position: relative;
}

.sidebar .sidebar-menu li a > .icon {
  width: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  left: 10px;
  top: 10px;
}

.sidebar .sidebar-menu li a > .icon i {
  font-size: 1.14286em;
}

.sidebar .sidebar-menu li a > .label {
  margin-top: 1px;
  padding-top: 4px;
}

.sidebar .sidebar-menu li.dropdown-sidebar > a {
  padding-right: 50px;
}

.sidebar .sidebar-menu li.dropdown-sidebar > a:after {
  content: "\f107";
  font-family: fontAwesome;
  display: inline-block;
  padding: 0 20px;
  position: absolute;
  right: 0;
}

.sidebar .sidebar-menu li.dropdown-sidebar > ul {
  padding-left: 32px;
  display: none;
}

.sidebar .sidebar-menu li.collapsed > a {
  color: #fff;
}

.sidebar .sidebar-menu li.collapsed > a:after {
  content: "\f106";
}

.sidebar .sidebar-menu li.collapsed > ul {
  display: block !important;
}

.sidebar .sidebar-menu li.divider {
  padding: 15px;
  font-weight: normal;
}

.sidebar .sidebar-menu .dropdown-sidebar li {
  position: relative;
}

.sidebar .sidebar-menu .dropdown-sidebar li .icon {
  left: -23px;
}

.sidebar #mCSB_1_container > .sidebar-menu > .dropdown-sidebar > .sidebar-menu > .dropdown-sidebar > .sidebar-menu {
  padding-left: 20px !important;
}

.sidebar #mCSB_1_container > .sidebar-menu > li > a {
  position: relative;
  padding-left: 50px;
}

.sidebar #mCSB_1_container > .sidebar-menu > li > a > i {
  position: absolute;
  left: 18px;
  top: 18px;
}

.sidebar #mCSB_1_container > .sidebar-menu > li > a:after {
  top: 15px;
}

.sidebar .dropdown-sidebar .sidebar-menu li a {
  padding: 15px 15px 15px 20px;
}

.sidebar .dropdown-sidebar .sidebar-menu .dropdown-sidebar .sidebar-menu {
  padding-left: 25px;
}

.sidebar .dropdown-sidebar .sidebar-menu .dropdown-sidebar .sidebar-menu li a {
  padding-left: 0px;
}

@media (min-width: 768px) {
  body.disable-scroll {
    overflow: hidden;
  }

  .wrapper {
    height: 100%;
  }

  .wrapper.changed {
    padding-left: 50px;
  }

  header.changed {
    padding-left: 50px;
  }

  .sidebar.changed {
    width: 50px;
  }

  .sidebar.changed .app-name .title {
    display: none;
  }

  .sidebar.changed .app-name .alt {
    display: block;
    text-align: center;
  }

  .sidebar.changed .sidebar-menu > li a {
    padding-left: 18px !important;
  }

  .sidebar.changed .sidebar-menu > li a span {
    display: none;
  }

  .sidebar.changed .sidebar-menu > li a:after {
    display: none;
  }

  .sidebar.changed .sidebar-menu > li a .icon {
    position: relative !important;
    left: -8px;
    line-height: 0 !important;
    top: -0 !important;
  }

  .sidebar.changed .sidebar-menu > li.collapsed > ul {
    display: none !important;
    -webkit-transition: display .5s;
    -o-transition: display .5s;
    transition: display .5s;
  }

  .sidebar.changed .sidebar-menu > li.divider {
    display: none;
  }

  .sidebar.changed:hover {
    width: 250px;
  }

  .sidebar.changed:hover .app-name .title {
    display: block;
  }

  .sidebar.changed:hover .app-name .alt {
    display: none;
  }

  .sidebar.changed:hover .sidebar-menu > li a .icon {
    width: 30px;
    line-height: 30px;
    position: absolute !important;
    text-align: center;
    vertical-align: middle;
    top: 15px !important;
  }

  .sidebar.changed:hover .sidebar-menu > li a span {
    display: inline-block;
  }

  .sidebar.changed:hover .sidebar-menu > li a:after {
    display: inline-block;
  }

  .sidebar.changed:hover .sidebar-menu > li.collapsed > ul {
    display: block !important;
  }

  .sidebar.changed:hover .sidebar-menu > li.divider {
    display: block;
  }

  .sidebar.changed:hover #mCSB_1_container > .sidebar-menu > li > a {
    padding-left: 45px !important;
  }

  .sidebar.changed:hover #mCSB_1_container > .sidebar-menu > li > a .icon {
    left: 10px;
  }

  .sidebar.changed:hover #mCSB_1_container > .sidebar-menu > li > ul > li a {
    padding-left: 15px !important;
  }

  .sidebar.changed:hover #mCSB_1_container > .sidebar-menu > li > ul > li a .icon {
    left: -23px;
    top: 15px;
  }

  .sidebar.changed:hover #mCSB_1_container > .sidebar-menu > li > ul > li ul li a {
    padding-left: 0px !important;
  }

  .sidebar.changed:hover + .wrapper.changed {
    padding-left: 250px;
  }

  .sidebar.changed:hover + .wrapper.changed > header.changed {
    padding-left: 250px;
  }
}

@media (max-width: 1020px) {
  .btn-nav-mobile {
    font-size: 1em;
    display: block !important;
    padding: 15px 21px;
    color: #A4B2B8;
  }

  .btn-nav-mobile.active {
    background: #f1f1f1;
  }

  .btn-nav-mobile:hover {
    cursor: pointer;
  }

  header .navigation ul.collapse {
    margin-top: 50px;
  }

  header .navigation ul .notification > a {
    text-align: left !important;
    background-color: #35485B !important;
    color: #A4B2B8 !important;
  }

  header .navigation ul .notification > a.active {
    background-color: #F1F1F1 !important;
  }

  header > .body-header > .user-header {
    position: absolute;
    right: 110px;
    top: 0;
  }

  .navigation.pull-right > ul {
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    left: 0;
    border-bottom: 0px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
  }

  .navigation.pull-right > ul.collapse {
    display: block;
  }

  .navigation.pull-right > ul > li {
    display: block;
  }

  .navigation.pull-right > ul > li > a {
    padding: 15px 20px;
    border-left: 0px;
  }

  .navigation.pull-right > ul > li > a:after {
    float: right;
  }

  .navigation.pull-right > ul > li > a.active:after {
    content: "\f106";
  }

  .navigation.pull-right > ul > li.drop-down > ul,.navigation.pull-right > ul > li.megamenu > ul,.navigation.pull-right > ul > li.notification > ul,.navigation.pull-right > ul > li.search-header > ul {
    padding-left: 15px;
    width: 100%;
 /*border-bottom: 1px solid #ddd;*/
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navigation.pull-right > ul > li.drop-down > a,.navigation.pull-right > ul > li.megamenu > a {
    color: rgba(85, 85, 85, 0.8);
    background-color: #fff;
  }

  .navigation.pull-right > ul > li.drop-down > a.active,.navigation.pull-right > ul > li.megamenu > a.active {
    background-color: #f1f1f1 !important;
  }

  .navigation.pull-right > ul > li.notification > a {
    padding-right: 40px;
  }

  .navigation.pull-right > ul > li.notification > a > i {
    display: none;
  }

  .navigation.pull-right > ul > li.notification > a > .badge {
    position: relative;
    float: right;
    margin-left: 0;
    top: 2px;
  }

  .navigation.pull-right > ul > li.notification > a > span:last-child {
    display: inline-block !important;
  }

  .navigation.pull-right > ul > li.notification > a:after {
    content: "\f107";
    font-family: fontAwesome;
    position: absolute;
    right: 20px;
  }

  .navigation.pull-right > ul > li.notification > a.active:after {
    content: "\f106";
    font-family: fontAwesome;
    position: absolute;
    right: 20px;
  }

  .navigation.pull-right > ul > li.drop-down > ul {
    padding: 0px;
  }

  .navigation.pull-right > ul > li.drop-down > ul > li {
    background-color: rgba(241, 241, 241, 0.5);
  }

  .navigation.pull-right > ul > li.drop-down > ul > li > a {
    padding-left: 21px;
    padding-right: 20px;
    color: #555555;
  }

  .navigation.pull-right > ul > li.megamenu > ul {
    background-color: rgba(241, 241, 241, 0.5);
    padding: 15px 20px;
  }

  .navigation.pull-right > ul > li.search-header > a {
    display: none;
  }

  .navigation.pull-right > ul > li.search-header > ul {
    display: block;
    padding: 7px 0;
  }

  .navigation.pull-right > ul > li.search-header > ul > li > form > input {
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
  }

  .navigation.pull-right > ul > li.search-header > ul > li > form:after {
    right: 19px;
  }
}

@media (max-width: 991px) {
  .insert-second-sidebar .container-fluid {
    padding-left: 20px;
    padding-top: 62px;
  }
}

@media (max-width: 767px) {
  body.mb-sb-active {
    overflow: hidden;
  }

  .check-device {
    width: 0px;
  }

  .wrapper {
    padding-left: 0;
  }

  .wrapper.mb-sb-active:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 999;
  }

  header {
    padding-left: 0;
  }

  header.mb-sb-active:before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 9999;
  }

  header > .body-header {
    padding-left: 56px;
  }

  header > .body-header > .user-header {
    padding-left: 0px;
    margin-left: 0px;
    right: 62px;
  }

  header > .body-header > .user-header .photo {
    background-image: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: none;
  }

  header > .body-header > .user-header .user-tool {
    right: 47px;
  }

  header > .body-header > .user-header.pull-right {
    float: none !important;
  }

  .sidebar-action {
    position: absolute;
    left: 0;
    -webkit-transition: ease .5s left;
    -o-transition: ease .5s left;
    transition: ease .5s left;
    z-index: 99;
  }

  .sidebar-action.mb-sb-active {
    left: 250px;
    z-index: 99999;
  }

  .sidebar {
    left: -250px;
    -webkit-transition: ease .5s left;
    -o-transition: ease .5s left;
    transition: ease .5s left;
  }

  .sidebar.mb-sb-active {
    left: 0;
    z-index: 99999;
  }
}
